{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 140,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "tailwindConfig": "./packages/tailwind/tailwind.config.ts"
}
