version: "3.7"
services:
  traefik:
    command: --configFile=/etc/traefik/traefik.yml
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml
      - acme:/etc/traefik/acme
    networks:
      - web
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    deploy:
      mode: global
      update_config:
        parallelism: 1
        delay: 10s
      labels:
        - traefik.http.routers.dashboard.rule=Host(`backend.memehub.lol`) && PathPrefix(`/traefik`)
        - traefik.http.routers.dashboard.service=api@internal
        - traefik.http.routers.dashboard.entrypoints=secure
        - traefik.http.services.dashboard.loadbalancer.server.port=8080
        - traefik.http.routers.dashboard.tls=true
        - traefik.http.routers.dashboard.tls.certresolver=letsencrypt
        - traefik.enable=true
      restart_policy:
        condition: on-failure
  backend:
    networks:
      - web
      - backend
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.backend.rule=Host(`backend.memehub.lol`) && PathPrefix(`/graphql`) || Host(`api.memehub.lol`)
        - traefik.http.routers.backend.entrypoints=secure
        - traefik.http.routers.backend.tls=true
        - traefik.http.services.backend.loadbalancer.server.port=5000
        - traefik.http.services.backend.loadbalancer.server.scheme=https
        - traefik.http.routers.backend.tls.certresolver=letsencrypt
        - traefik.http.routers.backend.middlewares=cors
      replicas: 2
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
  sitedata:
    volumes:
      - sitedata:/var/lib/postgresql/data
    networks:
      - backend
    deploy:
      replicas: 2
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
  redis:
    volumes:
      - redis:/data
    networks:
      - backend
    deploy:
      replicas: 2
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
  controllers:
    command: celery worker -B -l info -A controller.CELERY
    networks:
      - backend
    deploy:
      replicas: 2
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
volumes:
  sitedata:
  redis:
  acme:
networks:
  backend:
    driver: overlay
    attachable: true
  web:
    external: true