version: "3.7"
services:
  traefik:
    image: distortedlogic/traefik:latest
    container_name: traefik
  backend:
    image: distortedlogic/backend:latest
    container_name: backend
  sitedata:
    # image: distortedlogic/postgres:latest
    image: postgres:latest
    container_name: sitedata
  redis:
    image: distortedlogic/redis:latest
    container_name: redis
  controllers:
    image: distortedlogic/controllers:latest
    container_name: controllers
