version: "3.7"
services:
  backend:
    image: distortedlogic/backend:latest
    container_name: backend
  sitedata:
    image: postgres:latest
    container_name: sitedata
  redis:
    image: distortedlogic/redis:latest
    container_name: redis
  controllers:
    image: distortedlogic/controllers:latest
    container_name: controllers
