version: "3.7"
services:
  traefik:
    image: distortedlogic/traefik:latest
    container_name: traefik
    build: ./traefik
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml
      - ./acme:/etc/traefik/acme
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    labels:
      - traefik.http.routers.dashboard.service=api@internal
      - traefik.http.routers.dashboard.entrypoints=unsecure
      - traefik.http.services.dashboard.loadbalancer.server.port=8080
      - traefik.enable=true

  # ngrok:
  #     build: ./ngrok
  #     container_name: ngrok
  #     restart: on-failure
  #     command: /bin/sh -c "ngrok authtoken ${ngrok_auth} && ngrok http backend:5000 -hostname=react.memehub.lol --log stdout"
  frontend:
    image: distortedlogic/frontend:latest
    container_name: frontend
    restart: on-failure
    build:
      context: ./frontend
    depends_on:
      - backend
      - sitedata
      - redis
    labels:
      - traefik.enable=true
      - traefik.http.routers.frontend.rule=Host(`localhost`)
      - traefik.http.routers.frontend.entrypoints=unsecure
      - traefik.http.services.frontend.loadbalancer.server.port=3000
    volumes:
      - ./frontend:/app
    environment:
      - NODE_ENV=development
    ports:
      - 3000:3000
    stdin_open: true
  backend:
    image: distortedlogic/backend:latest
    container_name: backend
    depends_on:
      - sitedata
      - redis
    build:
      dockerfile: Dockerfile.dev
      context: ./backend
    restart: on-failure
    env_file:
      - ./shared.env
    volumes:
      - ./backend:/app
    ports:
      - 5000:5000
  sitedata:
    image: postgres:latest
    container_name: sitedata
    restart: on-failure
    build: ./postgres
    volumes:
      - ./backups:/backups
      - sitedata:/var/lib/postgresql/data
    env_file:
      - ./shared.env
    ports:
      - 5432:5432
  redis:
    image: distortedlogic/redis:latest
    container_name: redis
    restart: on-failure
    build: ./redis
    volumes:
      - redis:/data
    ports:
      - 6379:6379
  redis-commander:
    restart: on-failure
    depends_on:
        - redis
    container_name: redis-commander
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
  controllers:
    image: distortedlogic/controllers:latest
    depends_on:
      - controller-tasks
      - sitedata
      - redis
    container_name: controllers
    env_file:
      - ./shared.env
    restart: on-failure
    command: gunicorn -c "python:config.gunicorn" --reload "controller:APP"
    volumes:
      - ./controllers:/app
    ports:
      - 8000:8000
  controller-tasks:
    image: distortedlogic/controllers:latest
    container_name: controller-tasks
    depends_on:
      - sitedata
      - redis
    restart: on-failure
    build:
      context: ./controllers
      # dockerfile: Dockerfile.prod
      # args:
      #   POSTGRES_USER: postgres
      #   POSTGRES_DB: postgres
      #   POSTGRES_PASSWORD: postgres
    command: celery worker -B -l info -A controller.CELERY
    env_file:
      - ./shared.env
    volumes:
      - ./controllers:/app
  # task-monitor:
  #     image: controllers-image:1.0.0
  #     depends_on:
  #         - controllers
  #     container_name: task_monitor
  #     entrypoint: flower
  #     command: -A controller.CELERY
  #     restart: on-failure
  #     volumes:
  #         - ./controllers:/app
  #     ports:
  #         - 5555:5555
volumes:
  sitedata:
  redis:
