version: "3.7"
services:
  # traefik:
  #   build:
  #     context: ./traefik
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - ./traefik/traefik.yml:/etc/traefik/traefik.yml
  #   ports:
  #     - 80:80
  #     - 443:443
  # ngrok:
  #     build: ./ngrok
  #     container_name: ngrok
  #     restart: on-failure
  #     command: /bin/sh -c "ngrok authtoken ${ngrok_auth} && ngrok http backend:5000 -hostname=react.memehub.lol --log stdout"
  frontend:
    image: distortedlogic/frontend:latest
    container_name: frontend
    restart: on-failure
    build:
      context: ./frontend
    depends_on:
      - backend
      - sitedata
      - redis
    volumes:
      - ./frontend:/app
    environment:
      - NODE_ENV=development
    ports:
      - 3000:3000
    stdin_open: true
  backend:
    depends_on:
      - sitedata
      - redis
    build:
      dockerfile: Dockerfile.dev
      context: ./backend
    restart: on-failure
    env_file:
      - ./shared.env
    volumes:
      - ./backend:/app
    ports:
      - 5000:5000
  sitedata:
    restart: on-failure
    build: ./postgres
    volumes:
      - ./backups:/backups
      - sitedata:/var/lib/postgresql/data
    env_file:
      - ./shared.env
    ports:
      - 5432:5432
  redis:
    restart: on-failure
    build: ./redis
    volumes:
      - redis:/data
    ports:
      - 6379:6379
  redis-commander:
    restart: on-failure
    depends_on:
        - redis
    container_name: redis-commander
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
  controllers:
    image: distortedlogic/controllers:latest
    depends_on:
      - controller-tasks
      - sitedata
      - redis
    container_name: controllers
    env_file:
      - ./shared.env
    restart: on-failure
    command: gunicorn -c "python:config.gunicorn" --reload "controller:APP"
    volumes:
      - ./controllers:/app
    ports:
      - 8000:8000
  controller-tasks:
    container_name: controller-tasks
    depends_on:
      - sitedata
      - redis
    restart: on-failure
    build: ./controllers
    command: celery worker -B -l info -A controller.CELERY
    env_file:
      - ./shared.env
    volumes:
      - ./controllers:/app
  # task-monitor:
  #     image: controllers-image:1.0.0
  #     depends_on:
  #         - controllers
  #     container_name: task_monitor
  #     entrypoint: flower
  #     command: -A controller.CELERY
  #     restart: on-failure
  #     volumes:
  #         - ./controllers:/app
  #     env_file:
  #         - ./environments/flask.env
  #         - ./environments/scrapers.env
  #         - ./environments/postgres.env
  #     ports:
  #         - 5555:5555
volumes:
  sitedata:
  redis:
