version: "3.7"
services:
  traefik:
    image: distortedlogic/traefik:latest
    command:
      - "--web"
      - "--entrypoints=Name:http Address::80 Redirect.EntryPoint:https"
      - "--entrypoints=Name:https Address::443 TLS"
      - "--defaultEntryPoints=http,https"
      - "--acme"
      - "--acme.storage=/etc/traefik/acme/acme.json"
      - "--acme.entryPoint=https"
      - "--acme.httpChallenge.entryPoint=http"
      - "--acme.onHostRule=true"
      - "--acme.onDemand=false"
      - "--acme.email=jermeek@gmail.com"
      - "--docker"
      - "--docker.swarmMode"
      - "--docker.domain=tk"
      - "--docker.watch"
      - "--logLevel=DEBUG"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - traefik
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    deploy:
      mode: global
      update_config:
        parallelism: 1
        delay: 10s
      labels:
        - traefik.enable=false
      restart_policy:
        condition: on-failure
  backend:
    networks:
      - traefik
      - backend
    labels:
        - com.docker.stack.namespace=memehub
        - traefik.frontend.passHostHeader=true
        - traefik.backend.loadbalancer.swarm=true
        - traefik.backend=backend
        - traefik.port=5000
        - traefik.frontend.rule=Host:memehub.lol
        - traefik.docker.network=traefik
        - traefik.frontend.entryPoints=http,https
        - traefik.enable=true
    deploy:
      replicas: 2
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
  sitedata:
    volumes:
      - sitedata:/var/lib/postgresql/data
    networks:
      - backend
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    deploy:
      replicas: 2
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
  redis:
    volumes:
      - redis:/data
    networks:
      - backend
    deploy:
      replicas: 2
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
  controllers:
    command: celery worker -B -l info -A controller.CELERY
    networks:
      - backend
    deploy:
      replicas: 2
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
volumes:
  sitedata:
  redis:
networks:
  backend:
    driver: overlay
    attachable: true
  traefik:
    external: true