version: "3.7"
services:
  frontend:
    image: distortedlogic/frontend:latest
    container_name: frontend
    restart: on-failure
    build:
      context: ./Memehub-Frontend
    labels:
      - traefik.enable=true
      - traefik.http.routers.frontend.rule=Host(`localhost`)
      - traefik.http.routers.frontend.entrypoints=unsecure
      - traefik.http.services.frontend.loadbalancer.server.port=3000
      - traefik.http.services.frontend.loadbalancer.sticky.cookie=true
      - traefik.http.services.frontend.loadbalancer.sticky.cookie.name=sticky_speed_cow
      - traefik.http.services.frontend.loadbalancer.sticky.cookie.httpOnly=true
      # - traefik.http.services.frontend.loadbalancer.sticky.cookie.domain=test.memehub.lol
      - traefik.http.services.frontend.loadbalancer.sticky.cookie.secure=true
    volumes:
      - ./frontend:/app
    environment:
      - NODE_ENV=development
    ports:
      - 3000:3000
    stdin_open: true
  frontendv2:
    image: distortedlogic/frontend:edge
    container_name: frontendv2
    restart: on-failure
    build:
      context: ./Memehub-Frontend-v2
    labels:
      - traefik.enable=true
      - traefik.http.routers.frontendv2.rule=Host(`next.localhost`)
      - traefik.http.routers.frontendv2.entrypoints=unsecure
      - traefik.http.services.frontendv2.loadbalancer.server.port=3001
      - traefik.http.services.frontendv2.loadbalancer.sticky.cookie=true
      - traefik.http.services.frontendv2.loadbalancer.sticky.cookie.name=sticky_speed_cow
      - traefik.http.services.frontendv2.loadbalancer.sticky.cookie.httpOnly=true
      # - traefik.http.services.frontendv2.loadbalancer.sticky.cookie.domain=test.memehub.lol
      - traefik.http.services.frontendv2.loadbalancer.sticky.cookie.secure=true
    volumes:
      - ./frontendv2:/app
    environment:
      - NODE_ENV=development
    ports:
      - 3001:3001
    stdin_open: true
  admin:
    image: distortedlogic/admin:development
    container_name: admin
    restart: on-failure
    build:
      context: ./Memehub-Admin
    labels:
      - traefik.enable=true
      - traefik.http.routers.admin.rule=Host(`admin.localhost`)
      - traefik.http.routers.admin.entrypoints=unsecure
      - traefik.http.services.admin.loadbalancer.server.port=4000
      - traefik.http.services.admin.loadbalancer.sticky.cookie=true
      - traefik.http.services.admin.loadbalancer.sticky.cookie.name=sticky_speed_cow
      - traefik.http.services.admin.loadbalancer.sticky.cookie.httpOnly=true
      # - traefik.http.services.admin.loadbalancer.sticky.cookie.domain=test.memehub.lol
      - traefik.http.services.admin.loadbalancer.sticky.cookie.secure=true
    volumes:
      - ./admin:/app
    environment:
      - NODE_ENV=development
    ports:
      - 4000:4000
    stdin_open: true
  backend:
    image: distortedlogic/backend:latest
    container_name: backend
    labels:
      - traefik.enable=true
      - traefik.http.routers.backend.rule=Host(`localhost`) && PathPrefix(`/graphql`)
      - traefik.http.routers.backend.entrypoints=unsecure
      - traefik.http.services.backend.loadbalancer.server.port=5000
    build:
      dockerfile: Dockerfile.dev
      context: ./Memehub-Backend
    restart: on-failure
    env_file:
      - ./.env
    volumes:
      - ./backend:/app
    ports:
      - 5000:5000
  
