version: "3.7"
services:
  traefik:
    image: distortedlogic/traefik:latest
    volumes:
      - ./letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.yml:/etc/traefik/traefik.yml
    networks:
      - web
    ports:
      - 80:80
      - 443:443
    deploy:
      mode: global
      update_config:
        parallelism: 1
        delay: 10s
      labels:
        - traefik.enable=false
      restart_policy:
        condition: on-failure
  backend:
    networks:
      - web
      - memehub_backend
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.backend-web.rule=Host(`backend.memehub.lol`)
        - traefik.http.routers.backend-web.entrypoints=web
        - traefik.http.routers.backend-secured.rule=Host(`backend.memehub.lol`)
        - traefik.http.routers.backend-secured.entrypoints=websecured
        - traefik.http.services.backend.loadbalancer.server.port=5000
      replicas: 2
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
  sitedata:
    volumes:
      - sitedata:/var/lib/postgresql/data
    networks:
      - memehub_backend
    deploy:
      replicas: 2
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
  redis:
    volumes:
      - redis:/data
    networks:
      - memehub_backend
    deploy:
      replicas: 2
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
  controllers:
    command: celery worker -B -l info -A controller.CELERY
    networks:
      - memehub_backend
    deploy:
      replicas: 2
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
volumes:
  sitedata:
  redis:
networks:
  memehub_backend:
    driver: overlay
    attachable: true
  web:
    external: true