version: 2.1
jobs:
  build-and-deploy:
    docker:
      - image: python:3.7.6-buster
    working_directory: ~/repo
    steps:
      - checkout:
          path: ~/repo
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Install Docker Client
          command: |
            set -x
            VER="18.06.3-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin
      - run: docker login -u distortedlogic -p $DOCKERHUB_TOKEN
      - run:
          name: Build Traefik Docker Image
          command: docker build -t distortedlogic/traefik:latest ./traefik
      - run:
          name: Push Traefik Image
          command: docker push distortedlogic/traefik:latest
      - run:
          name: Build Redis Docker Image
          command: docker build -t distortedlogic/redis:latest ./redis
      - run:
          name: Push Redis Image
          command: docker push distortedlogic/redis:latest
      - run: ssh  -o StrictHostKeyChecking=no ubuntu@ec2-3-238-106-37.compute-1.amazonaws.com "cd ~/Memehub && git pull && docker stack deploy -c docker-compose.prod.yml memehub"
workflows:
  build-docker-image-only:
    jobs:
      - build-and-deploy:
          context: dockerhub