version: 2.1
jobs:
  build-and-deploy:
    docker:
      - image: python:3.7.6-buster
    working_directory: ~/repo
    steps:
      - checkout:
          path: ~/repo
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Install Docker Client
          command: |
            set -x
            VER="18.06.3-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin
      - run: docker login -u distortedlogic -p $DOCKERHUB_TOKEN
      - run:
          name: Build Redis Docker Image
          command: docker build -t distortedlogic/redis:latest ./redis
      - run:
          name: Push Redis Image
          command: docker push distortedlogic/redis:latest
      - run:
          name: Build Notebook Docker Image
          command: docker build -t distortedlogic/notebook:latest ./jupyter -f jupyter/Dockerfile.prod
      - run:
          name: Push Notebook Image
          command: docker push distortedlogic/notebook:latest
      - run: ssh  -o StrictHostKeyChecking=no ubuntu@ec2-3-238-106-37.compute-1.amazonaws.com "cd ~/Memehub && git pull origin main"
      - run: ssh  -o StrictHostKeyChecking=no ubuntu@ec2-3-238-106-37.compute-1.amazonaws.com "docker stack deploy -c ~/Memehub/docker-stack.yml memehub"
      - run: ssh  -o StrictHostKeyChecking=no ubuntu@ec2-3-238-106-37.compute-1.amazonaws.com "docker service update --image distortedlogic/controllers memehub_controllers"
      - run: ssh  -o StrictHostKeyChecking=no ubuntu@ec2-3-238-106-37.compute-1.amazonaws.com "docker service update --image distortedlogic/backend memehub_backend"
workflows:
  build-docker-image-only:
    jobs:
      - build-and-deploy:
          filters:
              branches:
                only:
                  - main
          context:
            - dockerhub
            - traefik
            - shared