log:
  level: DEBUG
  filepath: /etc/traefik/log/traefik.log
api:
  dashboard: true
  insecure: true  
  debug: true
entryPoints:
  unsecure:
    address: :80
  secure:
    address: :443
providers:
  docker:
    exposedByDefault: false
    network: web
    swarmMode: true
certificatesResolvers:
  letsencrypt:
    acme:
      email: jermeek@gmail.com
      storage: /etc/traefik/acme/acme.json
      # caServer: https://acme-staging-v02.api.letsencrypt.org/directory
      tlsChallenge: {}
      httpChallenge:
        entryPoint: unsecure