log:
  level: DEBUG
  filepath: /etc/traefik/log/traefik.log
api:
  dashboard: true
  insecure: true  
  debug: true
entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: :443
    http:
      tls:
        certResolver: letsencrypt
serversTransport:
  insecureSkipVerify: true
providers:
  providersThrottleDuration: 10
  docker:
    exposedByDefault: false
    endpoint: tcp://127.0.0.1:2377
    network: web
    swarmMode: true
    swarmModeRefreshSeconds: 30
    defaultRule: Host(`backend.memehub.lol`)
certificatesResolvers:
  letsencrypt:
    acme:
      email: jermeek@gmail.com
      caServer: https://acme-v02.api.letsencrypt.org/directory
      storage: /etc/traefik/acme/acme.json
      dnsChallenge:
        provider: digitalocean
        delayBeforeCheck: 120
        resolvers:
          - 1.1.1.1:53
          - 8.8.8.8:53