log:
  level: DEBUG
  filepath: /etc/traefik/log/traefik.log
api:
  dashboard: false
  insecure: false  
  debug: false
entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: :443
    http:
      tls:
        certResolver: myresolver
providers:
  providersThrottleDuration: 10
  docker:
    exposedByDefault: false
    endpoint: tcp://127.0.0.1:2377
    network: web
    swarmMode: true
    swarmModeRefreshSeconds: 30
    defaultRule: Host(`backend.memehub.lol`)
certificatesResolvers:
  myresolver:
    acme:
      email: jermeek@gmail.com
      storage: /etc/traefik/acme/acme.json
      dnsChallenge:
        provider: namecheap
        delayBeforeCheck: 120
        resolvers:
          - 1.1.1.1:53
          - 8.8.8.8:53